$containerWidth: 1440px;
$containerPadding: 0 20px;

$tn: 500px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$bg-color: #0E1116;
$text-color: #E6EDF3;

$color-green: #238636;
$color-green-hover: #2EA043;

$color-blue: #477FEF;
$color-blue-hover: #4882f5;
